body {
    background-image: url(backimgdash.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  #text{
    color: white;
    font-family: sans-serif;
  }
  
  .tanda{
    font-family: sans-serif;
    
  }